@use 'variables';
@use 'mixins';

/* footer */
.divFooter{
    .footerContainer{
        padding: 10px 50px;
        font-size: 14px;
        @include mixins.create-flexbox(space-between);

        @include mixins.mobile {
            flex-direction: column;
            padding: 10px 5px;
        }

        .pufiLogo{
            font-size: 30px;
            font-weight: bolder;
        }

        .pufiDivFooter{
            @include mixins.mobile {
                display: flex;
                gap: 10px;
            }
        }

        .contactDivFooter{
            @include mixins.mobile {
                display: flex;
                gap: 5px;
                font-size: 12px;
                padding: 5px 0px;
            }
        }
    }

    .divHrFooter{

        @include mixins.create-flexbox(center);

        .hrfooter{
            width: 92%;
            border: 1px solid rgba(179, 179, 179, 0.3);
        }
    }
    
    .copyrightContainer{
        @include mixins.create-flexbox(space-between);

        padding: 10px 50px;

        p{
            color: variables.$color-primary;
            font-size: 12px;
        }

        img{
            padding-top: 5px;
            height: 30px;
            width: auto;
        }
    }
}


